.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ec7e7e;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.list-title {
  margin-top: 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #baf492;
  border: 1px solid #2c19a5;
  margin-bottom: 10px;
}

.button-group {
  display: flex;
}

.edit-button,
.delete-button {
  margin-left: 10px;
}

.add-album,
.edit-album {
  margin-top: 20px;
}

.form-title {
  margin-top: 0;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #eb9d9d;
}

.add-button,
.update-button {
  background-color: #008000;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.add-button:hover,
.update-button:hover {
  background-color: #006400;
}
